
#bgContainer {
    background-color: #1f1f1f;
    /* height: 450px; */
    padding: 0;
    overflow: hidden;
}

#background {
    width: 100vw;
    height: 100%;
    opacity: 0.2;
    position: absolute;
}

#infoContainer {
    /* height: 100%; */
    /* padding: 0; */
    /* position: relative;
    top: 0;
    left: 15%; */
}

#poster {
    /* height: auto; */
    /* position: absolute;
    top: 0px;
    left: 0px; */
    z-index: 7
}

#infoBox {
    height: 400px;
    /* top: 0px;
    left: 30%; */
    padding: 0;
    z-index: 7;
}

.iconStyle {
    width: 40px;
    height: 40px;
    font-size: 20px;
}